.text-box {
  padding-top: 2rem;
}
.result {
  margin-bottom: 0;
  margin-top: 3rem;
}
.fonts {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
.resault-Open-Sans {
  font-family: "Open Sans", sans-serif;
}
.resault-Bebas {
  font-family: "Bebas Neue", cursive;
}
.resault-Lato {
  font-family: "Lato", sans-serif;
}
.resault-Lobster {
  font-family: "Lobster", cursive;
}
small {
  font-size: 1.3rem;
}
